@font-face {
  font-family: 'Starjedi';
  src: local('Starjedi'),
    url(https://s3.us-east-2.amazonaws.com/mrwillybee/fonts/Starjedi.ttf) format('truetype');
}

@font-face {
  font-family: 'Starjhol';
  src: local('Starjhol'),
    url(https://s3.us-east-2.amazonaws.com/mrwillybee/fonts/Starjhol.ttf) format('truetype');
}

#root {
  min-height: 1000px;
}

.jumbotron {
  font-family: 'Starjedi',sans-serif;
  background-image: url('https://s3.us-east-2.amazonaws.com/mrwillybee/images/galaxy_bg_tile.png');
}

h1.jumbotron-heading {
  color: #FFFF82;
  font-weight: bold;
  text-transform: uppercase;
  transform: perspective(100px) rotateX(25deg);
}

.jumbotron .lead {
  font-family: 'Starjhol',sans-serif;
  color: #FFFF82;
}

.jumbotron .alert {
  height: 20px;
  color: #FFFF82;
}